<h1>About Page</h1>
<h3 style=color:purple><u>Using Quotations for a Purpose:</u></h3>
<p>
<br>Quotations can be a powerful means of illustrating a point, supporting an idea, and lending credibility to your research writing project. However, you must use them carefully and integrate them correctly in order for them to be effective. In this demonstration, we'll discuss various methods of doing just that, by following the work of student writers Kevin Fahey, Rianne Uilk, and Patrick Crossland.
Please note that these demonstrations show examples from different types of documentation systems about using quotations correctly. If you need more detailed information about how to properly cite your sources within the text of your document, see your textbook.
</p>
