<h1>Help Page</h1>

<h3 style=color:green><u>Advice for Writing Quotes:</u></h3>
<p>
<br>1.Make a parody. Take a famous quote and tweak it to your own specifications and beliefs. (E.g. John F. Kennedy's 'Think not what your country can do for you, but what you can do for your country!', becomes 'Think not what safety can do for you, but what you can do for safety!' would be good for a lifeguard, etc.

<br>2.Think of something that connects to a life virtue. (E.g. 'Life is like a game of chess. There are many moves to take, but you ultimately have to take one nonetheless.')

<br>3.Think of something unique to your own moral, social, ethical, etc beliefs. (E.g. 'X politician sucks, but that doesn't make Y politician any better.')

<br>4.Take a very dramatic part from one of your own stories. (E.g. "And I turned to him and asked, 'Why? Why?'. And he said, without turning around 'Why not?'")

<br>5.Think of something that relates to your life. ('Life is a road, and high school is just a pothole')

<br>6.Create something from the above that intertwines with the speakers religion, situation, race, etc. ex. " Nothing stands taller than the might of the Dwarves!" King Dain, Lord of the Rings

<br>7.Add keywords. Think of a word that enables someone to do something better or provokes a specific reaction.

<br>8.Find an inspiration!    
</p>
