<h1>Welcome</h1>

<h3 style=color:blue><u>Creating Your Own Quotes:</u></h3>

<p><br>There comes a time when you need flashes of wisdom, to be marveled at by fellow peers, to break the tension, to attract the attention of that girl you've been drooling at for the past five minutes. Or maybe, just maybe to inspire a person, dear or not.

<br><br>1.First you must be fond of observing and reflecting on things, people or maybe interested.

<br>2.Select a subject, ideally a group of people.

<br>3.You must then acquire a sort of emotional detachment to your environment and/or subject in order for the first step to be effective.

<br>4.When you have succeeded in acquiring these two things, be discreet, be the background, do not participate, look at the world as if you are reading a book or watching a television show as critic.

<br>5.Pay particular attention or certain events that are responses to other events. Pay attention to responses made by people.

<br>6.Once you have completed the previous steps take mental notes of the causes and effects.

<br>7.Reflect on these causes and effects. Ask yourself why such results occur, ponder on it.

<br>8.Generalize the result(s) of your observation.

<br>9.You should notice that this skill will get better the more you apply it, at first it may take quite a time but soon things will get easy to appoint that it will come to you naturally. There will be a point when you won't even need a living subject, just your imagination.
</p>

